
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">My App</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Add Category<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add Product</a>
          </li>
        </ul>
      </div>
    </nav>

      
    <div class="container-fluid">
      <div class="row">
        
        <app-posts>Loading...</app-posts> 
        

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

          <h2>List of Products</h2>
        <app-products>Loading...</app-products> 

        </main>
      </div>
    </div>

    
